__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
dist/
build/
*.egg-info/
/data/raw/*
/data/processed/*
!/data/raw/.gitkeep
!/data/processed/.gitkeep
/assets/*
!/assets/.gitkeep
.vscode/
.idea/
